*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    margin: auto 30;
}
.header{
    background: #f2f9f6;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
}
.containt{
    margin-bottom: 2px;
}
.containt input{
    margin-top: 30px;
    padding: 10px;
    width: 260px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
}
.product-row{
    margin: auto 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-row select{
    margin-left: 10px;
    padding: 3px;
}
.product{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap : 20px;
    padding: 40px;  
    justify-content: space-between; 
}
.product-card{
    background: radial-gradient(circle at center,rgb(96, 95, 103), rgb(86, 84, 94), rgb(66, 66, 68));
    height: 250px;
    width: 250px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 40px;
    text-align: center;
    box-shadow: 5 4px 12px rgba(gray);
    box-shadow: 4px 4px 4px 4px rgb(100, 98, 98);
    color: white;   
}
